.img {
    perspective: 500px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.square {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    background-color: grey;
}